p {
  font-family: 'Lato',sans-serif;
  padding:50px;
}

/* Navigation Styles*/
nav {
  /* height:50px; */
  display: flex;
  padding:5px;
  justify-content: center;
  background-color: rgb(56, 56, 56);
  /*sticky bar*/
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid orange;
}

.nav a{
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
  color: white;
  padding-left:25px;
  padding-right:25px;
}

.nav a:hover{
  color:orange;
}

/* Super-parent CSS grid */
.container{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:800px 470px 500px 500px 400px 120px;
  margin-right:0px;
  margin-left:0px;
  max-width:100%;
  padding:0px;  
}

/* Header/Masthead Style */
.masthead{
  position: relative;
  background-color: #343a40;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),url("../images/chicago.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 19rem;
  padding-bottom: 15rem;
}

.masthead h1{
  color: white;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  font-size:60px;
}

.masthead p{
  color: white;
  font-family: 'Raleway',sans-serif;
  font-size:20px;
  padding-top:5px;
  padding-bottom:20px;
}

.masthead li {
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
  
}

.masthead em{
  color:orange;
  font-style:normal;
}

/* Icon Links */
.container-link-flex{
  display:flex;
  justify-content:center;
}

.container-link-flex a {
  color:white;
  padding:17px;
  font-size:30px;
  opacity:0.9;
}

.container-link-flex a:hover{
  color:grey;
  opacity:1.0;
}

/* About Page */
.about{
  display:grid;
  grid-template-columns:2fr 1fr;
  background:rgb(255, 255, 255);
}

.about > div {
  padding:70px;
}

.about img {
  border-radius:5px;
  width:250px;
  border:white;
  border-width: 1px;
  
}

.about p{
  text-align:left;
  padding:0;
  padding-top:5px;
}

/* Project page */
.projects {
  background-color:orange;
}

/* Resume page*/
.resume{

}

/* Contacts */
.contact{
  color:white;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: gray;
}

.contact h1{
  padding: 10px;
  text-align: 
}

/* Footer */
.footer{
  background-color: rgb(43, 43, 43);
  display:grid;
  grid-template-columns:1fr 1fr;
}

.footer p{
  color:white;
  opacity:0.5;
}

.footer-link{
  display:flex;
  justify-content: flex-end;
}

.footer-link a{
  padding-left:15px;
  color:white;
}

